alembic==1.12.0
aniso8601==9.0.1
annotated-types==0.6.0
blinker==1.6.2
cachelib==0.10.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==7.1.2
Faker==19.10.0
Flask==1.1.4
Flask-Caching==1.11.1
Flask-HTTPAuth==4.8.0
flask-marshmallow==0.10.0
Flask-Migrate==2.7.0
Flask-RESTful==0.3.10
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflect==7.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.2.4
MarkupSafe==2.0.1
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
numpy==1.24.4
pandas==2.0.3
psycopg2-binary==2.9.8
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
SQLAlchemy==1.4.49
typing_extensions==4.8.0
tzdata==2023.3
/home/sourav/Desktop/pip_env/rest_db_env

urllib3==2.0.6
Werkzeug==0.16.0
zipp==3.17.0
